*{
    box-sizing: border-box;
    text-decoration: none;
}

body{
    margin: 0rem;
    width: 100%;
    
    
    }

 
      
.header{
    width: 100%;
    background-color: #191a1d;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    padding: 1rem;
    
    
}
.menu{
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    padding:  1rem;
    display: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.sign{
 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
  
    
   
}
.signin{
    height: 1.8rem;
    background-color: #ffffff;
    outline: none;
    border-radius: 6px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.signup{
    height: 1.8rem;
    background-color: #1a47ff;
    color: #ffffff;
    outline: none;
    border-radius: 6px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}







.black-section{
    width: 100%;
    background-color: #191a1d;
    color: #ffffff;
    padding: 2rem;
    padding-top: 6rem;
    
    
}
.section-one{
    max-width: 1000px;
    margin: auto;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
   
}
.content-one{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.heading-one{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.heading-para{
   
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heading-bton{
    display: flex;
    justify-content: center;
    gap: 1rem;
   
}
.createaccount-button{
    height: 2.3rem;
    width: 35%;
    border-radius: 8px;
    background-color: #ffff;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.requestdemo-button{
    height: 2.3rem;
    width: 35%;
    border-radius: 8px;
    background-color: #000;
    color: #ffff;
    border-color: #ffff;
    outline: none;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.heading-two{
    text-align: center;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
 
}
.content-two{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}
.innerbox{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card{
  
    
    background-color: #ffff;
    border-radius: 8px;
    color: #000;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    
}
.card-heading{
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}
.card-para{
    color: #9d9d9d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}
.points{
   
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.imagebox{
   
    width: 100%;
    background-color: #ffff;
    border-radius: 8px;
    margin-bottom: 2rem;
    background-image: url(images/img1.svg);
    background-position: center;
    background-size:cover;
    min-height: 11rem;
  
    
   
}






.white-section{
    width: 100%;
    padding: 2rem;
}
.section-two{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.content-three{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.heading-three{
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding-top: 2rem;
}
.textone{
    width: 80%;
    text-align: center;
    color: #a5a5a5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.imgbox{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    
}

.imgbox-one{
    width: 100%;
    border-radius: 2rem;
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    padding: 2rem;
    text-align: center;
   
}
.imgbth{
    margin: auto;
}
.imgbox-two{
    width: 100%;
    border-radius: 2rem;
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    padding: 2rem;
    text-align: center;
}
.imgbox-sectiontwo{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;

}
.imgbox-three{
  
    border-radius: 2rem;
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    padding: 2rem;
    text-align: center;
    
   
}
.imgbox-four{
   
    border-radius: 2rem;
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    padding: 2rem;
    text-align: center;
}
.img-info{
 
    display: flex;
    flex-direction: column;
   
}
.info-text{
    color: #979797;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.info-heading{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;

}
.heading-four{
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.texttwo{
    color: #979797;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.shoe-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.shoe-img{
    width: 84%;
    border-radius: 8px;
    margin: auto;
    background-image: url(images/shoe.svg);
    background-position: center;
    background-size:cover;
    min-height: 12rem;
}
.shoe-info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}
.shoe-heading{
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.shoe-text{
    color: #979797;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}
.shoe-link{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
a{
    color: #3f65ff;
}
.contactus{
    display: flex;
   justify-content: center;
   font-size: 2rem;
   font-weight: bold;
   font-family: 'Poppins', sans-serif;
}











.form-section{
    width: 100%;
    background-color: #8c8c8c;
    padding: 2rem; 
}
.form-image{
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-image: url(images/form.svg);
    background-position: center;
    background-size:cover;
    justify-content: space-around;
    
}
.formfill-sectionone{
    
    flex: 43%;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding-left: 1rem;
  
    


}
.formfill-sectiontwo{
    flex: 50%;
    display: flex;
    flex-direction: column;   
    padding-left: 3rem;
 
   
 

}

.phno,.fname,.country,.zipcode,.city,.question,
.lname,.state,.email{
    width: 100%;
    border-style: none;
    border-bottom: 2px solid #99d9fc;
    background-color: transparent;
    outline: none;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    
}
textarea{
    width: 80%;
    border: 2px solid #99d9fc;
    background-color: transparent;
    outline: none;
    resize: none;
    border-radius: 1rem;
    padding: 0.4rem;
   
}
.phno,.country,.place,.question,.editing,.fname,
.radio-button,.dscrpt{
    margin-top: 2rem;
    width: 100%;
}
.email,.state{
    margin-top: 2rem;
    width: 80%;
}
.lname{
    margin-top: 3.8rem;
    width: 80%;
}
.place{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.zipcode,.city{
    width: 79%;
    
}

.radio-button{
    width: 100%;
    display: flex;
    
}
.yesorno{
    display: flex;
    align-items: center;
    margin-right: 1rem;
    color: #ffffff;
}
input[type="radio"]{
    accent-color: #8ed6ff;
}

Input[type="Number"]::-webkit-outer-spin-button,::-webkit-inner-spin-button
{
    -webkit-appearance: none;
}
.form-button{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;
    padding-bottom: 2.5rem;
    gap: 1rem;
}
.submitbtn{
    width: 10rem;
    background-color: #8ed6ff;
    color: #ffffff;
    border-style: none;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    
   
}
.cancel{
    width: 10rem;
    background-color: transparent;
    border: 1px solid #99d9fc;
    font-size: 1rem;
    border-radius: 2rem;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    
}
.editing,.dscrpt{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}



.footer{
    width: 100%;
    background-color: #191a1d;
    padding: 3rem;
}
.section-footer{
    max-width: 1400px;
    margin: auto;
    gap: 2rem;
    color: #ffffff;
}
.footer-design{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    
}
.footer-para{
    width: 70%;
    text-align: center; 
    font-family: 'Inter', sans-serif;
   
}
.footer-text{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding-top: 3rem;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}
.services{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.new-button{
    border-radius: 1rem;
    border-style: none;
    color: #000;
    background-color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}
.footer-color{
    color: #8a94a3;
}



@media (min-width: 420px){
    .heading-one{
        font-size: 3rem;
    }
    .email,.state,.lname{
        width: 90%;
    }
    textarea{
        width: 90%;
    }
   
}



@media (min-width: 768px){
   .content-two{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
   }
       
  .innerbox{
    width: 36%;
  }
  .points{
    display: flex;
    flex-direction: column;
  }
  .imagebox{
    width: 62%;
    
  }
 
  .imgbox{
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .imgbox-one{
    width: 50%;
  }
  .imgbox-two{
    width: 50%;
  }
  .imgbox-sectiontwo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

  }
  .imgbox-three{
    width: 50%;
  }
 .imgbox-four{
    width: 50%;
 }
 .shoe-section{
    gap: 2rem;
 }
 .shoe-img{
    min-height: 25rem;
    width: 76%;
    margin: auto;
 }
 .texttwo{
    width: 80%;
    text-align: center;
    margin-left: 3rem;
 }
 .phno,.country,.place,.question,.editing,.fname,
.radio-button,.dscrpt{
    margin-top: 2rem;
    width: 95%;
}
.place{
    width: 100%;

  
}
.zipcode,.city{
    width: 86%;
}
 .footer-text{
    gap: 4rem;
 }

}
  






@media (min-width: 520px) and (max-width: 767px){
    .heading-bton{
        display: flex;
        justify-content: center;
    }
    .content-two{
        gap: 2rem;
    }
    .innerbox{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    
    .card{
        width: 50%;
    }
    .points{
        margin: 2rem;
        display: flex;
        flex-direction: column;
    
    }
    .imgbox-one,.imgbox-two,.imgbox-three,.imgbox-four{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
    }
    .shoe-section{
        gap: 2rem;
    }
    .shoe-img{
        width: 58%;
        margin: auto;
    }

}

@media (min-width: 450px) and (max-width: 828px) {
    .header{
        display: flex;
        justify-content: space-between;
    }
  }
  

@media (min-width: 829px){
    .menu{
        display: inline;
    }
}


@media (min-width: 979px){
    .formfill-sectiontwo{
        border-left: 1px solid #99d9fc;
    }
    .form-button{
        display: flex;
        flex-wrap: nowrap;
    }
    .submitbtn,.cancel{
        font-size: 1.5rem;
    }
    .footer-text{
        gap: 6rem;
    }
}


@media (min-width: 1100px){
    .section-footer{
        display: flex;
    
    }
    .footer-design{
        width: 30%;
    }
    .footer-text{
        gap: 4rem;
    }
}

@media (min-width: 1400px){
    .heading-one{
       font-size: 4.5rem; 
       width: 81%;
       text-align: left;
    }
    .heading-para{
        width: 48%;
        text-align: left;
    }
    .heading-bton{
        margin: 0;
        display: flex;
        justify-content: flex-start;
       
    }
    .createaccount-button{
        
        width: 20%;
        
        
    }
    .requestdemo-button{
       
        width: 20%;
        
    
    }
    .heading-two{
        font-size: 2.5rem;
        padding-top: 3rem;
    }
    .innerbox{
        width: 36%;
    }
    .points{
        gap: 3rem;
    }
    .imagebox{
        width: 55%;
    }
    .heading-three{
        font-size: 3.5rem;
        padding-top: 6rem;
    }
    .textone{
        width: 60%;
    }
    .imgbox-one{
        width: 48%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        text-align: left;
        
     
    }
    .imgbox-two{
        width: 48%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        text-align: left;
    }
    .imgbox-three{
        width: 48%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        text-align: left;
        padding-bottom: 0rem; 
    }
    .imgbox-four{
        width: 48%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        text-align: left;
    }
    .heading-four{
        text-align: left;
        width: 70%;
        font-size: 3.5rem;
    }
    .texttwo{
        text-align: left;
        margin: 0;
        width: 57%;
    }
    .shoe-section{
        display: flex;
        flex-direction: row;
    
    }
    .shoe-img{
        width: 50%;
        margin: 0;
    }
    .shoe-info{
        width: 30%;
        text-align: left;
    }
    .shoe-heading{
        text-align: left;
    }
    .shoe-text{
        text-align: left;
    }
    .contactus{
        font-size: 3rem;
    }
    .city{
        width: 88%;
    }
    .submitbtn,.cancel{
        font-size: 1rem;
    }
    .section-footer{
        display: flex;
        flex-direction: row;
    }
    .footer-design{
        width: 30%;
        align-items:flex-start;
    }
   .footer-para{
    width: 80%;
    text-align: left;
   }
   .footer-text{
    gap: 7rem;
   }
}